@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a,
strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

.profile-photo {
  width: 180px;
  height: 180px;
  max-width: 180px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-size: 32px;
}

.papertitle {
  font-weight: 700;
}

span.highlight {
  background-color: #ffffd0;
}
